body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0px auto; */
  /* text-align: center; */
  /* place-content: center; */
  /* place-items: center;
  place-self: center;
   */
}
.board{
  display: grid;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  place-self: center;
  grid-template-columns: 120px 120px 120px;
  grid-template-rows: 120px 120px 120px;
}
.place{
  width: 100px;
  height: 100px;
  background-color: grey;
  margin: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
}


